body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
nav img {
    width: auto;
    max-height: 30px;
    object-fit: contain;
    object-position: top;
    text-decoration: none;
    margin: 0;
}
header {
    color: white;
}
nav {
    background-color: #000000f0;
    padding: 1px;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.2);
}
nav ul {
    margin: 5px auto;
}
nav li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
    vertical-align: middle;
}
nav img {
    padding-right: 320px;
}
nav a {
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: inline-block;
}
.dropdown-blog:hover .dropdown-content {
    display: block;
}
.join-us {
    position: fixed;
    top: 6px;
    right: 20px;
}
nav a:hover {
    text-decoration: underline;
}
nav a:active {
    text-decoration: none;
    color: red;
}
.jumbotron h1 {
    font-size: 108px;
    margin: 4px;
}
.jumbotron a, .join-us {
    width: fit-content;
    border: 2px solid red;
    border-color: red;
    margin: 0 auto;
    padding: 8px 28px;
    background-color: red;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
}
.jumbotron a:active, .join-us:active {
    background-color: white;
    color: red;
}
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}
.jumbotron {
    display: none;
}
.jumbotron img {
    width: 100%;
    background-size: cover;
    height: 600px;
}
#prev-btn a, #next-btn a {
    text-decoration: none;
    padding: 18px 15px 18px 15px;
    position: fixed;
    top: 50%;
    margin: 0;
    color: white;
    font-weight: bolder;
    background-color: #5c5a5a99;
    border-radius: 5px;
}
#prev-btn a:hover, #next-btn a:hover {
    background-color: #5c5a5abb;
}
#prev-btn a {
    left: 0;
}
#next-btn a {
    right: 0;
}
.img-caption {
    position: absolute;
    bottom: 20%;
    width: 100%;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .join-us {
        display: none;
    }
    .jumbotron h1 {
        font-size: 48px;
    }
    .jumbotron img {
        height: auto;
    }
    #prev-btn a, #next-btn a {
        top: 180px;
    }
}